
.punto4-1 {
 font-family: 'Courier New', Courier, monospace;
}
.punto4-2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.punto4-3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.punto5-1 {
    color: rgb(213, 124, 255);
}
.punto5-2 {
    color: #F2F200;
}
.punto5-3 {
    color: chocolate;
}
#degradado {
    background-image: linear-gradient(purple, white);
}
ul:nth-child(odd) {

}