
.punto4-1 {
 font-family: 'Courier New', Courier, monospace;
}
.punto4-2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.punto4-3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.punto5-1 {
    color: rgb(213, 124, 255);
}
.punto5-2 {
    color: #F2F200;
}
.punto5-3 {
    color: chocolate;
}
#degradado {
    background-image: linear-gradient(purple, white);
}
li:nth-child(1), 
li:nth-child(3)  {
    color: red;
}
li:nth-child(2),
li:nth-child(4),
li:nth-child(5)  {
    color: blue;
}
tbody>tr:nth-child(odd) {
    background-color: #FF6666;
}
tbody>tr:nth-child(even) {
    background-color: #A3CEEF;
}
thead>tr {
    background-color: black;
    color: white;
}
table:hover {
    font-weight: bold;
}
img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
img:hover {
    border: red solid 3px;
}