
.punto4-1 {
    font-family: 'Courier New', Courier, monospace;
}
.punto4-2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.punto4-3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.punto5-1 {
    color: rgb(213, 124, 255);
}
.punto5-2 {
    color: #F2F200;
}
.punto5-3 {
    color: chocolate;
}
#degradado {
    background-image: linear-gradient(purple, white);
}
li:nth-child(1), 
li:nth-child(3)  {
    color: red;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
li:nth-child(2),
li:nth-child(4),
li:nth-child(5)  {
    color: blue;
    font-family: cursive;
}
tbody>tr:nth-child(odd) {
    background-color: #FF6666;
}
tbody>tr:nth-child(even) {
    background-color: #A3CEEF;
}
thead>tr {
    background-color: black;
    color: white;
}
table td:hover {
    font-weight: bold;
}
img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
img:hover {
    border: red solid 3px;
}
a:link {
    color: red;
}
a:visited {
    color: black;
}
a:hover {
    color: pink;
}
a:active {
    color: green;
}
@media (max-width:  699px) {
    body {
        background-color: #F77C7C;
    }
   } 
@media (min-width: 700px) {
    body { background-color: white;
    }
}
@media (min-width:700px) {
    .punto-15 {
        color: red;
    }
}
@media (max-width:699px) {
    .punto-15 {
        color: blue;
    }
}
@media (min-width: 1000px) {
    footer {
        background-color: red;
        color: white;
    }
}
@media (max-width: 999px){
    footer {
        background-color: blue;
        color: yellow;
    }
}